﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>
        @Html.ActionLink("Vendors", "Index", "Vendor", new { area = "" }, new { @class = "" })
    </h3>
    <h3>
        @Html.ActionLink("Customers", "Index", "Customer", new { area = "" }, new { @class = "" })
    </h3>
</div>


